---
import { siteConfig } from '~/config';
---

<footer class="bg-zinc-950 text-zinc-300 mt-auto border-t border-zinc-100/10">
    <div class="max-w-7xl mx-auto py-12">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
            <div class="col-span-2">
                <h2 class="text-2xl font-serif font-bold text-zinc-100 mb-4">{siteConfig.name}</h2>
                <p class="text-zinc-400">{siteConfig.description}</p>
            </div>
            <div>
                <h3 class="text-lg font-semibold text-zinc-100 mb-4">Quick Links</h3>
                <ul class="space-y-2">
                    {Array.isArray(siteConfig.navigation) && siteConfig.navigation.map(item => (
                        <li>
                            <a href={item.href} class="text-zinc-400">{item.name}</a>
                        </li>
                    ))}
                </ul>
            </div>
            <div>
                <h3 class="text-lg font-semibold text-zinc-100 mb-4">Follow Us</h3>
                <div class="flex space-x-4">
                    {Array.isArray(siteConfig.social) && siteConfig.social.map(platform => (
                        <a href={platform.href} class="text-zinc-400">
                            test
                        </a>
                    ))}
                </div>
            </div>
        </div>
        <div class="border-t border-zinc-900 mt-8 pt-8 text-sm text-zinc-400">
            <div class="flex flex-col md:flex-row justify-between items-center">
                <p>&copy; {new Date().getFullYear()} {siteConfig.name}. All rights reserved.</p>
                <div class="flex space-x-6 mt-4 md:mt-0">
                    {Array.isArray(siteConfig.footer.links) && siteConfig.footer.links.map(link => (
                        <a href={link.href}>{link.name}</a>
                    ))}
                </div>
            </div>
        </div>
    </div>
</footer>
